.CSSTableGenerator {
	margin:0px;
	padding:0px;
}
.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

.CSSTableGenerator tr:nth-child(odd){ 
	background-color:#d4ffaa; 
	//background: transparent;
}
.CSSTableGenerator tr:nth-child(even)
{ 
	background-color:#ebffd8; 

}
.CSSTableGenerator td{
	vertical-align:middle;
	text-align:left;
	padding:2px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000; 
}

.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	background: -o-linear-gradient(top,#5fbf00,3f7f00)
	background-color:#5fbf00;
	text-align:center;
	font-size:15px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
}





.tableSchedule {
	margin:0px;
	padding:0px;
	width:100%;
}
.tableSchedule table{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

.tableSchedule tr:nth-child(odd){ 
	background-color:#d4ffaa; 
	//background: transparent;
}
.tableSchedule  tr:nth-child(even)
{ 
	background-color:#FFFFCC; 

}
.tableSchedule  td{
	vertical-align:middle;
	text-align:left;
	padding:2px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000; 
	text-align:center;

}

.tableSchedule  tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	background: -o-linear-gradient(top,#5fbf00,3f7f00)
	background-color:#5fbf00;
	text-align:center;
	font-size:15px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}


#footer 
{
	bottom : 0px;
	color: #ffffff ;
	font-size: 16px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}

.headText
{
	text-align:center; 
	font-weight:700; 
	color:#E00;
}
#num
{
	font-family:"Comic Sans MS", cursive;
	font-size-adjust:inherit;
	font-weight:bold;
	font-size:20px;
	color:#F00;
}

.demo-3 {
    position:relative;
   	width:175px;
	height:150px;
    overflow:hidden;
    float:left;

}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:"Segoe WP Black";
    color:#fff;
    font-size:14px;
    text-align:left;
	margin-left:-20px;
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}